.headerComponent {
    width: 100%;
    background-color: var(--clr-dark);

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
        

        h1 {
            padding: 1rem 0;
            font-size: 2rem;
            font-weight: 700;
            color: var(--clr-white);
        }

        button.menuButton {
            position: absolute;
            right: 20px;
            top: 10px;
            background-color: var(--clr-dark);
            border: 0;
            width: 30px;
            height: 30px;
            padding: 0;
            color: var(--clr-white);
            display: none;
            align-items: center;
        }

        nav.navBar {
            
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    color: var(--clr-light);
                    font-size: 1.5rem;
                    padding: 10px;
                    margin: 0 2px;
                    cursor: pointer;
                    transition: all 200ms;
                    
                    &:hover, &.active {
                        background-color: var(--clr-gray-600);
                        color: var(--clr-white);
                    }
                } 
            }
        }
        
    }
}

@media (max-width: 700px) {
    .headerComponent {
        
        .content {
            flex-direction: column;
            align-items: unset;

            button.menuButton {
                display: flex;
            }
            
            nav.navBar {

                ul {
                    flex-direction: column;
                    align-items: unset;

                    li {
                        text-align: center;

                        &.active {
                            background-color: var(--clr-dark);
                        }
                    }
                    
                }
            }

            
        }
    }
}